.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clock {
  color: red;
  font-family: arial;
}

li.active {
  border-width: 2px 2px 0px 2px !important;
  color: green !important;
  font-weight: bold;
}

.tab-headers {
  list-style-type: none;
}

ul.tab-headers > li {
  color: red;
  border: 2px solid red;
  border-radius: 1px;
  padding: 20px;
}

ul.tab-headers > li:hover {
  background-color: darkgray;
  cursor: pointer;
}

ul.tab-headers {
  display: flex;
}

.weatherApp {
  border: 2px solid white;
  margin: 10px 0 10px 0;
  padding: 0px 10px 0px 10px;
}